[package]
name = "unichat"
version = "1.4.0-alpha.2"
description = "A cross-platform desktop application for managing YouTube and Twitch chats."
authors = ["Voguh <voguhofc@protonmail.com>"]
homepage = "https://github.com/voguh/unichat"
license = "MPL-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# This feature is used for production builds or when a dev server is not specified, DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]

[build-dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
tauri-build = { version = "2.5.3", features = [] }
ureq = { version = "3.1.4", default-features = false, features = ["json", "native-tls"] }

[dependencies]
actix-web = "4.12.1"
actix-ws = "0.3.0"
base64 = "0.22.1"
futures = "0.3.31"
infer = "0.19.0"
log = "0.4.29"
moka = { version = "0.12.11", features = ["sync"] }
rand = "0.9.2"
regex = "1.12.2"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
serde_plain = "1.0.2"
tauri = { version = "2.9.5", features = ["native-tls"] }
tauri-plugin-dialog = "2.4.2"
tauri-plugin-log = "2.7.1"
tauri-plugin-opener = "2.5.2"
tauri-plugin-store = "2.4.1"
thiserror = "2.0.17"
time = "0.3.44"
tokio = { version = "1.48.0", features = ["full"] }
ureq = { version = "3.1.4", default-features = false, features = ["json", "native-tls"] }
url = { version = "2.5.7", features = ["serde"] }
