<!DOCTYPE html>
<!--
/*!******************************************************************************
 * UniChat
 * Copyright (C) 2025 Voguh <voguhofc@protonmail.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public License
 * version 3 only, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 ******************************************************************************/
-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Widget | Voguh's UniChat</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <style>
            {{WIDGET_STYLE}}
        </style>
        <script defer>
            document.addEventListener("DOMContentLoaded", () => {
                const socket = new WebSocket('ws://localhost:9527/ws')
                socket.addEventListener("message", function (message) {
                    const event = JSON.parse(message.data);

                    if (event.type === "unichat:load") {
                        window.dispatchEvent(new CustomEvent("unichat:load", { detail: event.data }));
                    } else {
                        window.dispatchEvent(new CustomEvent("unichat:event", { detail: event }));
                    }
                });

                {{WIDGET_SCRIPT}}
            });
        </script>
    </head>
    <body>
        {{WIDGET_HTML}}
    </body>
</html>
