<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Widget | Voguh's UniChat</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <style>
            {{WIDGET_STYLE}}
        </style>
        <script defer>
            document.addEventListener("DOMContentLoaded", () => {
                const socket = new WebSocket('ws://localhost:9527/ws')
                socket.addEventListener("message", function (event) {
                    window.dispatchEvent(new CustomEvent("unichat:event", { detail: JSON.parse(event.data) }));
                });

                {{WIDGET_SCRIPT}}
            });
        </script>
    </head>
    <body>
        {{WIDGET_HTML}}
    </body>
</html>
