@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --maximum-width: 100vw;
    --author-badge-size: 18px;
    --emote-size: 18px;

    --general-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    --message-animation: fadeIn 250ms ease-in;

    --author-pill-bg: #343a40;
    --author-pill-color: #FFFFFF;

    --accent-color: #fcc419;

    --message-content-bg: #FFFFFF;
    --message-content-color: #212529;
    --donate-content-bg: #1971c2;
    --donate-content-color: #FFFFFF;
    --sponsor-content-bg: #495057;
    --sponsor-content-color: #FFFFFF;
    --spogift-content-bg: #f08c00;
    --spogift-content-color: #212529;
    --raid-content-bg: #66a80f;
    --raid-content-color: #FFFFFF;
}

html, body {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#main-container {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: calc(100vh - 32px);
    width: calc(var(--maximum-width) - 32px);
    padding: 16px;
    overflow: hidden;
}

/* <================================================[ SHARED STYLE ]================================================> */
#main-container > div {
    position: relative;
    animation: var(--message-animation);
}

#main-container > div > .author-meta {
    width: fit-content;
    max-width: calc(var(--maximum-width) - 64px);
    position: absolute;
    top: 0;
    left: 8px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--author-pill-bg);

    overflow: hidden;
}

#main-container > div > .author-meta > .badges {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#main-container > div > .author-meta > .badges:empty {
    display: none;
}

#main-container > div > .author-meta > .badges > img {
    width: var(--author-badge-size);
    height: var(--author-badge-size);
    border-radius: 2px;
}

#main-container > div > .author-meta > .name {
    flex: 1 1 auto;
    color: var(--author-pill-color);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    white-space: nowrap;

}
/* <==============================================[ END SHARED STYLE ]==============================================> */

/* <============================================[ SIMPLE MESSAGE STYLE ]============================================> */
#main-container > .message-item {
    margin-top: calc(((var(--author-badge-size) + 8px) / 2) + 8px);
    position: relative;
}

#main-container > .message-item > .message {
    padding: calc(((var(--author-badge-size) + 8px) / 2) + 8px) 8px 8px 8px;
    border-radius: 4px;
    background: var(--message-content-bg);
    color: var(--message-content-color);
    box-shadow: var(--general-box-shadow);
    white-space: normal;
    word-break: break-word;
}

#main-container > .message-item > .message > img {
    height: var(--emote-size);
    vertical-align: middle;
}
/* <==========================================[ END SIMPLE MESSAGE STYLE ]==========================================> */

/* <============================================[ DONATE MESSAGE STYLE ]============================================> */
#main-container > .donate-item {
    margin-top: calc(((var(--author-badge-size) + 8px) / 2) + 8px);
    position: relative;
}

#main-container > .donate-item > .author-meta {
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container > .donate-item > .message-wrapper {
    padding: calc(((var(--author-badge-size) + 8px) / 2) + 8px) 8px 8px 8px;
    border-radius: 4px;
    background: var(--donate-content-bg);
    color: var(--donate-content-color);
    box-shadow: var(--general-box-shadow);
}

#main-container > .donate-item > .message-wrapper > .donate-meta {
    font-weight: bold;
    text-align: center;
}

#main-container > .donate-item > .message-wrapper > .donate-meta > .value {
    font-weight: bolder;
    color: var(--accent-color);
}

#main-container > .donate-item > .message-wrapper > .message {
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    white-space: normal;
    word-break: break-word;
}

#main-container > .donate-item > .message-wrapper > .message:empty {
    display: none;
}

#main-container > .donate-item > .message-wrapper > .message > img {
    height: var(--emote-size);
    vertical-align: middle;
}
/* <==========================================[ END DONATE MESSAGE STYLE ]==========================================> */

/* <============================================[ SPONSOR MESSAGE STYLE ]============================================> */
#main-container > .sponsor-item {
    margin-top: calc(((var(--author-badge-size) + 8px) / 2) + 8px);
    position: relative;
}

#main-container > .sponsor-item > .author-meta {
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container > .sponsor-item > .message-wrapper {
    padding: calc(((var(--author-badge-size) + 8px) / 2) + 8px) 8px 8px 8px;
    border-radius: 4px;
    background: var(--sponsor-content-bg);
    color: var(--sponsor-content-color);
    box-shadow: var(--general-box-shadow);
}

#main-container > .sponsor-item > .message-wrapper > .sponsor-meta {
    font-weight: bold;
    text-align: center;
}

#main-container > .sponsor-item > .message-wrapper > .sponsor-meta > span {
    font-weight: bolder;
    color: var(--accent-color);
}

#main-container > .sponsor-item > .message-wrapper > .message {
    width: calc(var(--maximum-width) - 64px);
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    white-space: normal;
    word-break: break-word;
}

#main-container > .sponsor-item > .message-wrapper > .message:empty {
    display: none;
}

#main-container > .sponsor-item > .message-wrapper > .message > img {
    height: var(--emote-size);
    vertical-align: middle;
}
/* <==========================================[ END SPONSOR MESSAGE STYLE ]==========================================> */

/* <=========================================[ SPONSOR GIFT MESSAGE STYLE ]=========================================> */
#main-container > .spogift-item {
    margin-top: 8px;
    position: relative;
}

#main-container > .spogift-item > .message {
    position: relative;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    background: var(--spogift-content-bg);
    color: var(--spogift-content-color);
    font-weight: bold;
    box-shadow: var(--general-box-shadow);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-container > .spogift-item > .message:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06b";
    font-size: calc(64px + 16px);
    position: absolute;
    bottom: -8px;
    right: -8px;
    transform: rotate(-45deg);
    color: rgba(255, 255, 255, 0.25);
    z-index: 0;
}

#main-container > .spogift-item > .message > span {
    z-index: 1;
    white-space: normal;
    word-break: break-word;
}

#main-container > .spogift-item > .message > span > span {
    font-weight: bolder;
}
/* <=======================================[ END SPONSOR GIFT MESSAGE STYLE ]=======================================> */

/* <=============================================[ RAID MESSAGE STYLE ]=============================================> */
#main-container > .raid-item {
    margin-top: 8px;
    position: relative;
}

#main-container > .raid-item > .message-wrapper {
    padding: 8px;
    border-radius: 4px;
    background: var(--raid-content-bg);
    color: var(--raid-content-color);
    font-weight: bold;
    box-shadow: var(--general-box-shadow);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    word-break: break-word;
}

#main-container > .raid-item > .message-wrapper > span {
    font-weight: bolder;
}
/* <===========================================[ END RAID MESSAGE STYLE ]===========================================> */
