name: main.yaml

on:
  push:
    branches:
      - '**'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

env:
  NODE_VERSION: '24.10.0'
  PNPM_VERSION: '10.7.1'
  RUST_VERSION: '1.92.0'
  TAURI_APP_PATH: ${{ github.workspace }}
  TAURI_FRONTEND_PATH: ${{ github.workspace }}/webapp

jobs:
  webapp-install-dependencies:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
          cache-dependency-path: webapp/pnpm-lock.yaml

      - name: Install dependencies
        working-directory: ${{ env.TAURI_FRONTEND_PATH }}
        run: pnpm install --frozen-lockfile

  webapp-lint:
    runs-on: ubuntu-24.04
    needs: webapp-install-dependencies
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
          cache-dependency-path: webapp/pnpm-lock.yaml

      - name: Install dependencies
        working-directory: ${{ env.TAURI_FRONTEND_PATH }}
        run: pnpm install --frozen-lockfile

      - name: Run lint
        working-directory: ${{ env.TAURI_FRONTEND_PATH }}
        run: pnpm lint

  webapp-tests:
    runs-on: ubuntu-24.04
    needs: webapp-install-dependencies
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
          cache-dependency-path: webapp/pnpm-lock.yaml

      - name: Install dependencies
        working-directory: ${{ env.TAURI_FRONTEND_PATH }}
        run: pnpm install --frozen-lockfile

      - name: Run tests
        working-directory: ${{ env.TAURI_FRONTEND_PATH }}
        run: pnpm test run --passWithNoTests

  webapp-build:
    runs-on: ubuntu-24.04
    needs: webapp-tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
          cache-dependency-path: webapp/pnpm-lock.yaml

      - name: Install dependencies
        working-directory: ${{ env.TAURI_FRONTEND_PATH }}
        run: pnpm install --frozen-lockfile

      - name: Cache webapp dist
        uses: actions/cache@v4.2.3
        with:
          path: ${{ env.TAURI_FRONTEND_PATH }}/dist
          key: dist-${{ github.run_id }}

      - name: Build webapp
        working-directory: ${{ env.TAURI_FRONTEND_PATH }}
        run: pnpm build:ui

  rust-install-dependencies:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Rust toolchain setup
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Cache cargo registry
        id: cache-cargo
        uses: actions/cache@v4.2.3
        with:
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db/

      - name: Install dependencies
        if: steps.cache-cargo.outputs.cache-hit != 'true'
        run: cargo fetch --locked

  rust-lint:
    runs-on: ubuntu-24.04
    needs: [webapp-build, rust-install-dependencies]
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Retrieve webapp dist cache
        uses: actions/cache@v4.2.3
        with:
          path: ${{ env.TAURI_FRONTEND_PATH }}/dist
          key: dist-${{ github.run_id }}

      - name: Setup tauri dependencies
        run: |
          sudo apt update
          sudo apt install --no-install-recommends -y libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Rust toolchain setup
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}
          components: clippy

      - name: Cache cargo registry
        id: cache-cargo
        uses: actions/cache@v4.2.3
        with:
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db/

      - name: Cache cargo target
        uses: actions/cache@v4.2.3
        with:
          key: ${{ runner.os }}-cargo-target-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-target-
          path: |
            target/

      - name: Install dependencies
        if: steps.cache-cargo.outputs.cache-hit != 'true'
        run: cargo fetch --locked

      - name: Run lint
        run: cargo clippy --all-targets --all-features

  rust-tests:
    runs-on: ${{ matrix.os }}
    needs: [webapp-build, rust-install-dependencies]
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Retrieve webapp dist cache
        uses: actions/cache@v4.2.3
        with:
          path: ${{ env.TAURI_FRONTEND_PATH }}/dist
          key: dist-${{ github.run_id }}

      - name: Setup tauri dependencies
        if: matrix.os == 'ubuntu-24.04'
        run: |
          sudo apt update
          sudo apt install --no-install-recommends -y libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Rust toolchain setup
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Cache cargo registry
        id: cache-cargo
        uses: actions/cache@v4.2.3
        with:
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db

      - name: Cache cargo target
        uses: actions/cache@v4.2.3
        with:
          key: ${{ runner.os }}-cargo-target-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-target-
          path: |
            target/

      - name: Install dependencies
        if: steps.cache-cargo.outputs.cache-hit != 'true'
        run: cargo fetch --locked

      - name: Run test
        run: cargo test --all-targets --all-features

  package:
    if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/stable/') || startsWith(github.ref, 'refs/tags/')
    runs-on: ${{ matrix.os }}
    needs: rust-tests
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Retrieve webapp dist cache
        uses: actions/cache@v4.2.3
        with:
          path: ${{ env.TAURI_FRONTEND_PATH }}/dist
          key: dist-${{ github.run_id }}

      - name: Setup tauri dependencies
        if: matrix.os == 'ubuntu-24.04'
        run: |
          sudo apt update
          sudo apt install --no-install-recommends -y libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Rust toolchain setup
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Cache cargo registry
        id: cache-cargo
        uses: actions/cache@v4.2.3
        with:
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db/

      - name: Cache cargo target
        uses: actions/cache@v4.2.3
        with:
          key: ${{ runner.os }}-cargo-target-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-target-
          path: |
            target/

      - name: Install dependencies
        if: steps.cache-cargo.outputs.cache-hit != 'true'
        run: cargo fetch --locked

      - name: Prepare configuration
        run: |
          npm install -g @tauri-apps/cli
          node -e "let fs = require('fs'); let path = require('path'); let cPath = path.join(__dirname, 'tauri.conf.json'); let c = JSON.parse(fs.readFileSync(cPath)); c.build.beforeBuildCommand = ''; fs.writeFileSync(cPath, JSON.stringify(c, null, 4));"

      - name: Run build app
        run: tauri build

      - name: Setup version
        id: setup_version
        run: |
          export CARGO_PACKAGE_VERSION="$(cargo pkgid | cut -d# -f2)"
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            TAG_NAME="${GITHUB_REF#refs/tags/}"
            if [ "$CARGO_PACKAGE_VERSION" != "$TAG_NAME" ]; then
              echo "Error: The version in Cargo.toml ($CARGO_PACKAGE_VERSION) does not match the release tag ($TAG_NAME)."
              exit 1
            fi
            echo "revision=$TAG_NAME" >> $GITHUB_OUTPUT
          else
            export SHORT_CARGO_VERSION="$(echo $CARGO_PACKAGE_VERSION | cut -d '-' -f1)"
            export NEW_VERSION="$SHORT_CARGO_VERSION+$GITHUB_SHA"
            sed -i "s/^version = \"$CARGO_PACKAGE_VERSION\"/version = \"$NEW_VERSION\"/" "Cargo.toml"
            echo "revision=$NEW_VERSION" >> $GITHUB_OUTPUT
          fi

      - name: Print revision
        run: echo "Revision is ${{ steps.setup_version.outputs.revision }}"

      - name: Cache build artifacts
        uses: actions/cache@v4.2.3
        with:
          path: dist/${{  matrix.os }}
          key: dist-${{ github.run_id }}-${{ matrix.os }}

      - name: Create build artifacts
        run: |
          export VERSION="${{ steps.setup_version.outputs.revision }}"
          mkdir -p dist/${{ matrix.os }}
          if [[ "${{ matrix.os }}" == "windows-2022" ]]; then
            cp -r target/release/bundle/nsis/*.exe dist/${{ matrix.os }}/unichat-$VERSION-setup.exe
          else
            cp -r target/release/bundle/appimage/*.AppImage dist/${{ matrix.os }}/unichat-$VERSION.AppImage
            cp -r target/release/bundle/deb/*.deb dist/${{ matrix.os }}/unichat-$VERSION.deb
            cp -r target/release/bundle/rpm/*.rpm dist/${{ matrix.os }}/unichat-$VERSION.rpm
          fi
          for folder in dist/*; do
            if [ -d "$folder" ] && [ "$(ls -A "$folder")" ]; then
              (cd "$folder" && for file in ./*; do sha256sum "$file" > "${file}.sha256"; done)
            fi
          done

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4.6.2
        with:
          name: dist-${{ matrix.os }}
          path: dist/${{ matrix.os }}

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    needs: package
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Retrieve ubuntu-24.04 build artifacts
        uses: actions/cache@v4.2.3
        with:
          path: dist/ubuntu-24.04
          key: dist-${{ github.run_id }}-ubuntu-24.04

      - name: Retrieve windows-2022 build artifacts
        uses: actions/cache@v4.2.3
        with:
          path: dist/windows-2022
          key: dist-${{ github.run_id }}-windows-2022

      - name: Create and upload to GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          if [ -n "$(command -v gh)" ]; then
            echo "Creating GitHub Release for tag $TAG_NAME"
            echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
            gh release create "$TAG_NAME" --prerelease
            for folder in ${{ github.workspace }}/dist/*; do
              if [ -d "$folder" ] && [ "$(ls -A "$folder")" ]; then
                echo "Uploading files from: $folder"
                for file in $folder/*; do
                  if [ -f "$file" ]; then
                    echo "Uploading file: $file"
                    gh release upload "$TAG_NAME" "$file" || echo "Failed to upload $file to GitHub Release"
                  fi
                done
              fi
            done
            echo "All files uploaded to GitHub Release successfully."
          else
            echo "GitHub CLI is not installed. Skipping upload to GitHub Release."
            exit 0
          fi

